---
molecule_file: "{{ lookup('env', 'MOLECULE_FILE') }}"
molecule_instance_config: "{{ lookup('env', 'MOLECULE_INSTANCE_CONFIG') }}"
molecule_yml: "{{ lookup('file', molecule_file) | molecule_from_yaml }}"

ssh_user: ubuntu
ssh_port: 22

security_group_name: "molecule{{ lookup('env', 'TRAVIS_JOB_ID')|default('') }}"
security_group_description: "Security group for molecule{{ lookup('env', 'TRAVIS_JOB_ID')|default('') }}"
security_group_rules:
  - proto: tcp
    port: "{{ ssh_port }}"
    cidr: 0.0.0.0/0
  - proto: icmp
    port: -1
    cidr: 0.0.0.0/0
  - ethertype: IPv4
    group: "{{ security_group.id }}"

neutron:
  networks:
    - name: "molecule{{ lookup('env', 'TRAVIS_JOB_ID')|default('') }}"
      external: false
      shared: false
  subnets:
    - name: "molecule{{ lookup('env', 'TRAVIS_JOB_ID')|default('') }}"
      network_name: "molecule{{ lookup('env', 'TRAVIS_JOB_ID')|default('') }}"
      ip_version: 4
      cidr: 192.168.1.0/24
      enable_dhcp: true
      dns_nameservers:
        - 8.8.8.8
        - 8.8.4.4
  routers:
    - name: "molecule{{ lookup('env', 'TRAVIS_JOB_ID')|default('') }}"
      network_name: public
      interfaces:
        - "molecule{{ lookup('env', 'TRAVIS_JOB_ID')|default('') }}"

keypair_name: "molecule{{ lookup('env', 'TRAVIS_JOB_ID')|default('') }}"
keypair_path: "{{ lookup('env', 'MOLECULE_EPHEMERAL_DIRECTORY') }}/ssh_key"

nova:
  image: "Ubuntu 16.04 (Xenial Xerus)"
  flavor: 1C-1GB-10GB
